<footer class="mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3">
                <a href="" class="w-100">
                    <img class="footer-logo" src="/Logo-White.png" alt="Logo" />
                </a>
                <div class="quote">
                    <p>Anyone who stops learning is old<br/>whether at twenty or eighty</p>
                    <p class="author">Henry Ford</p>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <nav class="h-100 d-flex align-items-center">
                    <div class="footer-navbar w-100">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Item 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Item 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Item 1</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Item 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Item 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Item 1</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-lg-4">
                <div class="footer-right d-flex flex-column h-100 justify-content-between">
                    <div class="subscribe">
                        <form>
                            <div class="subscribe-control">
                                <div class="form-group mb-0">
                                    <input type="email" class="form-control" placeholder="Enter your email..." />
                                </div>
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <div class="copyrights">
                        <p>Copyright © 2020 WeLearn.</p>
                        <p class="mt-1">All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>