@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;600&display=swap');

$headingFont: 'Open Sans', sans-serif;
$textFont: 'Montserrat', sans-serif;

$brightSkyBlue: #4894ff;
$skyBlue: #3584F1;
$darkGrey: #303036;
$brightGrey: #63636B;
$closeWhite: #F0F4F8;