footer {
    padding: 2.5em 0.9em;
    background-color: $darkGrey;
    .footer-logo {
        width: 160px;
        margin: 0px auto;
    }
    .quote {
        p {
            font-size: 1.1em;
            font-style: italic;
            color: $closeWhite;
            font-family: $textFont;
            margin-bottom: 0px;
            margin-top: 10px;
            font-weight: 100;
            position: relative;
            margin-top: 2em;
            &::before {
                position: relative;
                color: $closeWhite;
                top: 10px;
                line-height: 0px;
                content: "“";
                font-size: 3em;
                font-family: 'Times New Roman', Times, serif;
            }
            &::after {
                position: relative;
                bottom: -5px;
                right: -4px;
                line-height: 0px;
                content: "„";
                font-size: 3em;
                font-family: 'Times New Roman', Times, serif;
            }
            &.author {
                margin-top: 0.9em;
                margin-right: 1.8em;
                font-size: 1.5em;
                text-align: right;
                font-weight: 500;
                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
    }
    .footer-navbar {
        display: flex;
        justify-content: space-around;
        padding: 0em 2em;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $closeWhite;
                    font-family: $textFont;
                    font-size: 1.2em;
                    font-weight: 300;
                    transition: all 0.3s;
                    &:hover {
                        color: #FFF;
                    }
                }
            }
        }
    }
    .subscribe {
        .subscribe-control {
            display: flex;
            .btn-primary {
                margin-left: 1.5em;
            }
        }
    }
    .copyrights {
        p {
            font-size: 1.2em;
            font-weight: 300;
            color: $closeWhite;
            font-family: $textFont;
            margin-bottom: 0px;
        }
    }
}